@mixin four-by-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@mixin five-by-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  column-gap: 10px;
}

@mixin underline {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-decoration-inset: 10px;
  text-underline-offset: 4px;
}
