@use "./_mixins.scss" as *;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

p,
a {
  margin: 0;
  text-decoration: none;
}

html,
body {
  margin: 0;
  min-height: 100%;
  background: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body,
a {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-color);
  line-height: 1.6;
  color: var(--text-color);
  font-size: 16px;
}

.__main {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  position: relative;
  &::after {
    content: "";
    inset: 0;
    position: absolute;
    background-image: repeating-linear-gradient(
      90deg,
      transparent 0,
      transparent 2.5px,
      var(--text-color-light) 2.5px,
      var(--text-color-light) 3px
    );
    overflow: hidden;
    opacity: 0;
    transition: opacity 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

@keyframes move-grid {
  from {
    background-position: 0 0;
    opacity: 0.2; /* Animating opacity alongside position */
  }
  to {
    background-position: 5px 0;
    opacity: 1;
  }
}

.site-main {
  // background-color: salmon;
  flex: 1;
}

footer {
  align-self: flex-end;
  font-weight: 300;
  font-size: 0.625rem;
  height: 20px;
  flex: 1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  p {
    height: fit-content;
    text-align: center;
  }
}

.site-header {
  // display: flex;
  // align-items: flex-start;
  // justify-content: space-between;
  // gap: 1.25rem;
}

.site-title-wrap {
  @include four-by-grid;
  margin: 80px 0;
}

.site-title {
  grid-row: 1 / 2;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.25rem;
  letter-spacing: -2%;
  font-weight: 600;
  padding: 2px 0;
}

.site-tagline {
  grid-row: 2 / 3;
  margin: 0;
  font-size: 0.625rem;
  line-height: 0.725rem;
  text-transform: uppercase;
}

.content-panel {
  @include five-by-grid;
  a,
  p,
  .spotify-data {
    grid-column: 2 / -1;
  }
}

.underline-text,
.site-main p a,
.spotify-data a,
.about-spotify_inline a {
  position: relative;
  font-size: 0.875rem;
  text-decoration: underline;
}

.landing-content-anchor,
.landing-content-paragraph,
.spotify-data {
  margin-bottom: 20px;
  margin-left: -10px;
  padding: 10px;
  font-size: 0.875rem;
  font-weight: 400;
  &.outbound-link {
    width: fit-content;
    margin-bottom: 5px;
  }
}

.spotify-data {
  display: block;
}

.about-spotify_inline {
  display: inline;
}

// Section Spacer
.section-spacer {
  grid-column: 1 / -1;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 0.5px solid #443e3e50;
  margin-bottom: 20px;
  &.landing {
    margin-bottom: 30px;
  }
}
